<div class="container">
  <h2 *ngIf="!id" >Create New Product</h2>
  <h2 *ngIf="id" >Edit Product</h2>
  <div *ngIf="statusCode">
      <alert *ngIf="statusCode != 200" type="danger">{{errmsg}}</alert>
      <alert *ngIf="statusCode === 200 && !id" type="success">200: Product has been created successfully.</alert>
      <alert *ngIf="statusCode === 200 && id" type="success">200: Product has been updated successfully.</alert>
  </div>
  <form *ngIf="statusCode != 404" class="form-horizontal" [formGroup]="productForm" (ngSubmit) = "onClickSubmit()" >
    <div *ngIf="id" class="form-group" >
      <label class="control-label col-sm-2" for="id">Product ID:</label>
      <div class="col-sm-10">
        <input class="form-control" disabled type="text" name="id" formControlName="id"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Product Name:</label>
      <div class="col-sm-10">
        <input class="form-control" placeholder="Enter product name" type="text" name="productName" formControlName="productName"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="price">Price:</label>
      <div class="col-sm-10">
          <input class="form-control" placeholder="Enter price" type="text" name="price" formControlName="price"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="image">Image:</label>
      <div class="col-sm-10">
          <input type="hidden" name="image" formControlName="image" />
          <img src="{{productForm.value.image}}" #productImage class="img-thumbnail" width="80" height="80">
          <label class="btn btn-success" for="fileSelector">
              <input id="fileSelector" type="file" #fileInput style="display:none" 
              (change)="filechanged($event)">
              Choose Image
          </label>
          <span class='label label-info'>{{ filename }}</span>
          <span><button type="button" class="btn btn-primary" (click)="upload()">Upload</button></span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" [disabled] = "!productForm.valid" class="btn btn-primary" value="Save">
      </div>
    </div>
  </form>
</div>