
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<h4>This is the demo page for SignalR</h4>
<ul>
  <li><a href="http://www.asp.net/signalr/overview/getting-started/tutorial-getting-started-with-signalr">Tutorial: Getting Started with SignalR 2</a></li>
  <li><a href="http://signalr.net/">http://signalr.net/</a></li>
  <li><a href="http://www.asp.net/signalr">SignalR on ASP.NET</a></li>
  <li><a href="https://jqueryui.com/slider/#rangemax">jQuery Slider Bar</a></li>
  <li><a href="http://videojs.com/">Javascript Video Controller</a></li>
</ul>

<ul>
    <li><a href="~/sliderbar.html">Jquery SliderBar Example</a></li>
    <li><a href="~/videojs.html">VideoJs Example</a></li>
</ul>



