<div class="container">
  <h3>{{sequence}}. {{title}}</h3>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#">Descripton</a></li>
    <li><a href="#">Hints</a></li>
    <li><a href="#">Submissions</a></li>
  </ul>
  <br>
  <div innerHTML={{description}}></div>
  <hr />
  <div>
    <form class="form-horizontal" [formGroup]="baseForm">
      <div class="form-group">
        <div class="col-sm-2">
          <app-widget-language-select [selectedValue]="selectedValue" name="language" formControlName="language" ngDefaultControl></app-widget-language-select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <ace-editor [(text)]="text" #editor style="height:250px;border:1px solid lightgray" name="solution" formControlName="solution"></ace-editor>
          <app-widget-validation-message [displayError]="isFieldValid('solution')" errorMsg="Please enter solution">
          </app-widget-validation-message>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <input *ngIf="username" type="submit" [disabled]="loading || loading2" class="btn btn-success" (click)="onSubmit()" value="Save">
          <app-widget-loading-image [loading]="isLoading()"></app-widget-loading-image>
          <button type="button" [disabled]="loading || loading2" class="btn btn-info" (click)="back('/questions')">Back</button>
        </div>
        <div class="col-sm-2">
          <button *ngIf="username" type="submit" [disabled]="loading || loading2" class="btn btn-primary" (click)="onSubmitSolution()">Submit Solution</button>
          <app-widget-loading-image [loading]="isLoading2()"></app-widget-loading-image>
          <app-widget-status-image [testResult]="testResult"></app-widget-status-image>
        </div>
      </div>
      <hr />
      <div class="form-group">
        <app-widget-result-panel [(testResult)]="testResult" [resultMessage]="resultMessage"></app-widget-result-panel>
      </div>
    </form>
  </div>