
@{
    ViewBag.Title = "Online Chat";
}

<h2>Online Chat</h2>
<div class="chatcontainer">
    <input type="text" id="message" />
    <input type="button" id="sendmessage" value="Send" />
    <span id="name"></span>
    <input type="button" id="sayalot" value="Say A Lot" />
    <input type="hidden" id="displayname" />
    <ul id="discussion"></ul>
</div>
<!--Add script to update the page and send messages.-->
<script type="text/javascript">
    $(document).ready(function () {
        // Declare a proxy to reference the hub.
        var chat = $.connection.chatHub;
        // Create a function that the hub can call to broadcast messages.
        chat.client.broadcastMessage = function (name, message) {
            // Html encode display name and message.
            var encodedName = $('<div />').text(name).html();
            var encodedMsg = $('<div />').text(message).html();
            // Add the message to the page.
            $('#discussion').append('<li><strong>' + encodedName
                + '</strong>:&nbsp;&nbsp;' + encodedMsg + '</li>');
        };
        // Get the user name and store it to prepend to messages.
        $('#displayname').val(prompt('Enter your name:', ''));
        $('#name').text($('#displayname').val());
        // Set initial focus to message input box.
        $('#message').focus();
        // Start the connection.
        $.connection.hub.start().done(function () {
            $('#sendmessage').click(function () {
                // Call the Send method on the hub.
                chat.server.send($('#displayname').val(), $('#message').val());
                // Clear text box and reset focus for next comment.
                $('#message').val('').focus();
            });
            $('#sayalot').click(function () {
                // Call the Send method on the hub.
                chat.server.sayAlot($('#displayname').val());
                // Clear text box and reset focus for next comment.
                $('#message').val('').focus();
            });
        });
    });
</script>

