<div class="container">
  <h2>Users</h2>
  <button type="button" class="btn btn-info" routerLink="../userpage">Create User</button>
  <hr/>
  <div *ngIf="status || errmsg">
    <alert *ngIf="status != 200" type="danger"></alert>
    <alert *ngIf="status === 200" type="success">User has been deleted successfully.</alert>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>User ID</th>
        <th>User Name</th>
        <th>Password</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of users">
      <tr>
        <td>{{user._id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.password}}</td>
        <td>{{user.email}}</td>
        <td>
          <button type="button" class="btn btn-success" [routerLink]="['/userpage', user._id ]">Edit</button>
          <button type="button" class="btn btn-danger" (click)="deleteUser({ event:$event, id: user._id })">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>