<div class="container">
  <h2 *ngIf="!_id">Create New User</h2>
  <h2 *ngIf="_id">Edit User</h2>
  <hr/>
  <form *ngIf="status != 404" class="form-horizontal" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div *ngIf="_id" class="form-group">
      <label class="control-label col-sm-2" for="_id">User ID:</label>
      <div class="col-sm-4">
        <input class="form-control" disabled="true" type="text" name="_id" formControlName="_id" />
      </div>
    </div>
    <div class="form-group" [ngClass]="displayFieldCss('username')">
      <label class="control-label col-sm-2 required" for="username">User Name:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" name="username" placeholder="Enter user name" formControlName="username">
        <app-validationmessage [displayError]="isFieldValid('username')" errorMsg="Please enter a user name with at least 3 characters">
        </app-validationmessage>
      </div>
    </div>
    <div *ngIf="!_id" class="form-group" [ngClass]="displayFieldCss('password')">
      <label class="control-label col-sm-2 required" for="password">Password:</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" name="password" placeholder="Enter password" formControlName="password">
        <app-validationmessage [displayError]="isFieldValid('password')" errorMsg="Please enter a password with at least 6 characters">
        </app-validationmessage>
      </div>
    </div>
    <div class="form-group" [ngClass]="displayFieldCss('email')">
      <label class="control-label col-sm-2 required" for="email">Email:</label>
      <div class="col-sm-4">
        <input type="email" class="form-control" name="email" placeholder="Enter email" formControlName="email">
        <app-validationmessage [displayError]="isFieldValid('email')" errorMsg="Please enter a valid email address">
        </app-validationmessage>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save">
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
        />
        <button type="button" class="btn btn-primary" routerLink="../userlist">Cancel</button>
      </div>
    </div>
  </form>
</div>