<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Online Judge</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Problems</a></li>
      <li><a href="#">Page 1</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <h2>Online Judge</h2>
  <button type="button" class="btn btn-info" routerLink="">Home</button>
  <button type="button" class="btn btn-info" routerLink="questionlist">Question List</button>
  <button type="button" class="btn btn-info" routerLink="questionpage">Create Question</button>
  <button type="button" class="btn btn-info" routerLink="userlist">User List</button>
  <button type="button" class="btn btn-info" routerLink="userpage">Create User</button>
</div>
<hr/>