/* You can add global styles to this file, and also import other style files */
html {
  font-size: 16px;
}

.control-label.required:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 5px;
  top: 7px;
}
