/* You can add global styles to this file, and also import other style files */
html {
  font-size: 16px;
}

.bar {
  margin-top: 50px;
}
.spinner {
  margin-top: 50px;
}

div .bar-shadow[_ngcontent-c1] {
  all: initial;
}

.control-label.required:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 5px;
  top: 7px;
}
