<div class="form_container">
    <form [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
       <header>Login</header>
       <label>Username <span>*</span></label>
       <input type="text" name="uname" formControlName="uname"/>
       
       <div class="help">At least 5 character</div>
       <label>Password <span>*</span></label>
       <input type="password" class="fortextbox" name="passwd" formControlName="passwd"/>
       
       <div class="help">Use upper and lowercase lettes as well</div>
       <input type="submit" [disabled] = "!formdata.valid" class="forsubmit" value="Login">
    </form>
 </div>