<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Express - Template Engine</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
    body {
        padding-top: 20px;
    }
</style>