<!-- views/about.ejs -->
<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body class="container">
    <header>
        <% include partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <h3>
                        <%= about %>
                    </h3>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <% include partials/footer %>
    </footer>

</body>

</html>