<!-- views/index.ejs -->
<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body class="container">
    <header>
        <% include partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>EJS Template Engine</h1>
            <%= message %>
        </div>
    </main>

    <footer>
        <% include partials/footer %>
    </footer>

</body>

</html>